{% extends 'webcareer/base.html' %}

<title>{% block title %} Phenomenal Home {% endblock title %}</title>

{% block content%}

<div class="container" style="margin-bottom: 60px">
  <h2>Customer Information</h2>
  <form method="POST">
    {% csrf_token %}

    <div class="mb-3 mt-3">
      <label for="title">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="title"
        name="title"
      />
    </div>
    {% comment %}
    <div class="mb-3 mt-3">
      <label for="detail">Detail:</label>
      <input
        type="detail"
        class="form-control"
        id="detail"
        placeholder="detail"
        name="detail"
      />
    </div>
    {% endcomment %}

    <div class="form-group">
      <label for="detail">Detail:</label>
      <textarea
        class="form-control"
        row="6"
        id="detail"
        name="detail"
        placeholder="detail"
      >
      </textarea>
    </div>

    <div class="mb-3 mt-3">
      <label for="tag">Tag:</label>
      <input
        type="text"
        class="form-control"
        id="tag"
        placeholder="tag"
        name="tag"
      />
    </div>

    <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" />
          Remember me
        </label>
      </div>

    <div class="mb-1 mt-1">
      <label for="detail">File:</label>
      {% comment %} <button type="submit" class="btn btn-dark">Brown</button> {% endcomment %}
    </div>
    <button type="submit" class="btn btn-dark">Brown</button>
    <br />



    <div class="mb-1 mt-1">
      <label for="detail">Upload:</label>
      {% comment %} <button type="submit" class="btn btn-dark">Upload</button> {% endcomment %}
    </div>
    <button type="submit" class="btn btn-dark">Upload</button>
    <br />
 
    

  </form>
</div>
{% endblock content %}
